@import "../../scss/variable";

.navbar {
  background-color: $cardNavBgColor;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 4;

  img {
    width: 100px;
    height: 90px;
  }

  .link {
    display: flex;
    font-size: 1.5rem;
    gap: 10px;

    font-family: "Rubik Distressed", cursive;

    a {
      color: $secondaryColor;
      text-decoration: none;
      padding: 0.5rem;
      text-transform: uppercase;
      &:hover {
        background-color: $secondaryColor;
        color: $cardNavBgColor;
        border-radius: 5px;
      }
    }
  }
}
